CREATE DATABASE [dbTasks]
GO
USE [dbTasks]
GO
/****** Object:  Table [dbo].[CentralCusto]    Script Date: 04/09/2026 16:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralCusto](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[NomeCusto] [varchar](250) NOT NULL,
	[ValorAnualMeta] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 04/09/2026 16:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[DescricaoDepartamento] [varchar](250) NOT NULL,
	[Ativo] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 04/09/2026 16:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Cargo] [varchar](50) NOT NULL,
	[CodigoGerente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 04/09/2026 16:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[DescricaoProblema] [varchar](250) NOT NULL,
	[DataIncidente] [datetime] NOT NULL,
	[Solucao] [varchar](250) NULL,
	[Resolvido] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 04/09/2026 16:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[DataPlanejada] [datetime] NOT NULL,
	[DataIniciada] [datetime] NULL,
	[DataFinalizada] [datetime] NULL,
	[DataCancelada] [datetime] NULL,
	[StatusTarefa] [varchar](30) NOT NULL,
	[Prazo] [varchar](20) NOT NULL,
	[FuncionarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CentralCusto] ON 

INSERT [dbo].[CentralCusto] ([Codigo], [NomeCusto], [ValorAnualMeta]) VALUES (4, N'Computadores', CAST(15000 AS Decimal(18, 0)))
INSERT [dbo].[CentralCusto] ([Codigo], [NomeCusto], [ValorAnualMeta]) VALUES (5, N'Monitores', CAST(1200 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CentralCusto] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([Codigo], [DescricaoDepartamento], [Ativo]) VALUES (3, N'departamento de TI', N'Sim')
INSERT [dbo].[Departamento] ([Codigo], [DescricaoDepartamento], [Ativo]) VALUES (4, N'Depertamento de midia', N'Sim')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [CodigoGerente]) VALUES (1, N'Carlos Silva', N'Desenvolvedor Analista', 26)
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [CodigoGerente]) VALUES (2, N'Ana Oliveira', N'Analista de QA', NULL)
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [CodigoGerente]) VALUES (3, N'Roberto Santos', N'Gerente de Projetos', NULL)
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
SET IDENTITY_INSERT [dbo].[Incidente] ON 

INSERT [dbo].[Incidente] ([Codigo], [DescricaoProblema], [DataIncidente], [Solucao], [Resolvido]) VALUES (5, N'quebrou o computador', CAST(N'2026-08-05T16:11:00.000' AS DateTime), N'consertar', N'nao')
INSERT [dbo].[Incidente] ([Codigo], [DescricaoProblema], [DataIncidente], [Solucao], [Resolvido]) VALUES (10, N'quebrou a vassoura', CAST(N'2026-09-04T08:42:00.000' AS DateTime), N'comprar outra', N'Sim')
SET IDENTITY_INSERT [dbo].[Incidente] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarefa] ON 

INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (1, N'Criar tela de Login', CAST(N'2026-10-08T00:00:00.000' AS DateTime), CAST(N'2026-01-08T00:00:00.000' AS DateTime), NULL, NULL, N'Em Andamento', N'Em dia', 1)
INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (2, N'Homologar Release 1.0', CAST(N'2026-05-08T00:00:00.000' AS DateTime), NULL, NULL, NULL, N'Pendente', N'Em atraso', 2)
INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (3, N'Criar tela de Login', CAST(N'2026-10-08T00:00:00.000' AS DateTime), CAST(N'2026-01-08T00:00:00.000' AS DateTime), NULL, NULL, N'Em Andamento', N'Em dia', 1)
SET IDENTITY_INSERT [dbo].[Tarefa] OFF
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_Tarefa_Funcionario] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_Tarefa_Funcionario]
GO
